// FONTS
$fontPrimary: 'Poppins';
$fontSecundary_1: 'Roboto';

// COLORS
$darkBlueColor: #0E2A47;
$whiteColor: #fff;
$lightGreenColor: #95CA3E;
$redColor: #FF5757;
$blackColor: #000;
$lightGreyColor: #f1f1f1;
$darkGreyColor: #C1BCBC;
$darkGreyColor_2: #3C4043;
$darkGreyColor_3: #958A8A;
$lightGrey2Color: #F2F3F5;

$fontSizeTitleDesktopBig: 48;
$fontSizeTitleDesktopMedium: 34;
$fontSizeTitleMobilie: 30;