@import "./constants.scss";

.welcomePage,
.ourServices,
.wishList {
  padding: 0px 48px 50px;
}

.welcomePage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 82vh;

  &Content {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  &Information {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.ourServices,
.wishList {
  display: grid;
  gap: 35px;
  grid-template-rows: repeat(3, auto);
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ourServicesBody,
.wishListBody {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.ourServicesCard,
.wishListCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &Body {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.ourServices {
  background-color: $darkBlueColor;
  color: $whiteColor;

  // &Card {
  //   &Body {
  //     display: flex;
  //     flex-direction: column;
  //     gap: 5px;
  //   }
  // }
}

.wishList {
  &Header {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
