@import "../constants.scss";

.nav,
.main,
.footer {
  font-family: $fontPrimary, sans-serif;
  color: $darkBlueColor;
}

.nav {
  align-items: center;
  background-color: $whiteColor;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding-left: 36px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;

  &Logo {
    align-items: center;
    display: flex;
  }

  h1 {
    font-size: 35px;
    font-weight: 700;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    a {
      text-decoration: none;
      color: $darkBlueColor;
    }

    a:hover {
      border-bottom: 2px solid $lightGreenColor;
      font-weight: bold;
    }
  }
}

.footer {
  background-color: $darkBlueColor;
  color: $whiteColor;
  display: flex;
  gap: 180px;
  padding: 35px 48px;

  &Content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 4px;
  }

  &Information {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &SocialMedia {
    display: flex;
    gap: 20px;
  }

  &Logo {
    display: flex;
    gap: 5px;
    justify-content: center;

    &Container {
      align-items: center;
      display: flex;
      height: max-content;
    }
  }
}

.footerSocialMedia > div {
  cursor: pointer;
}
.informationContact {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.informationNumbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

.email {
  color: $redColor;
}

@media only screen and (max-width: 767px) {
  .informationNumbers {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 48px;

    &Content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &Information {
      align-items: center;
      gap: 35px;
    }

    .informationContact {
      padding-top: 2px;
      gap: 35px;
    }

    .contactTitle {
      text-align: center;
    }

    &SocialMedia {
      display: flex;
      gap: 20px;
      padding-top: 20px;
      justify-content: center;
    }
  }
}
